target
.classpath
.project
.settings
dependency-reduced-pom.xml
pom.xml.releaseBackup
release.properties
.idea
*.iml
logs
logevents-config-demo/logevents-*.properties
logevents-servlets-demo/logevents*.properties
*.crt
*.p12
