observer.servlet.openIdIssuer=https://login.microsoftonline.com/..../v2.0
observer.servlet.clientId=...
observer.servlet.clientSecret=...
observer.servlet.requiredClaim.email=
observer.servlet.requiredClaim.email_verified=true
